app-main-layout {
    position: relative;
    top: 40px;
    padding: 17px 34px 50px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

p {
    margin-bottom: 0px !important;
}

.home {
    padding-bottom: 50px;
    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 18px;
        &__left {
            display: flex;
            align-items: center;
            img {
                margin-right: 8px;
            }
            p {
                font-size: 12px;
                font-weight: 400;
                color: #525A6E;
            }
        }
        &__right {
            display: flex;
            align-items: center;
            img {
                margin-right: 3px;
            }
            select {
                border: none;
                background: transparent;
                appearance: none;
                padding-left: 5px;
                font-size: 12px;
                color: #525A6E;
            }
        }
    }
    &-bill {
        width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 22px;
    }
    &-card {
        width: 27%;
        border-radius: 22px;
        overflow: hidden;
        &_procent {
            width: 17%;
        }
        &__top {
            background: #EDF0F4;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            color: #18243C;
            padding: 5px 5px 6px;
            margin-bottom: 3px;
            &_red {
                background: #FF0009;
                color: #fff;
            }
        }
        &__body {
            border: 1px solid #E3E8EC;
            padding-top: 7px;
            border-radius: 0 0 22px 22px;
        }
        &__items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 15px 7px;
            p {
                font-size: 12px;
                font-weight: 400;
                color: #7E8084;
            }
            span {
                font-size: 12px;
                font-weight: 500;
                color: #525A6E;
            }
        }
        &__total {
            padding: 5px 15px 7px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid #EDF0F4;
            p {
                font-size: 12px;
                font-weight: 500;
                color: #7E8084;
            }
            span {
                font-size: 12px;
                font-weight: 500;
                color: #18243C;
            }
        }
    }
    &-search {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-bottom: 22px;
        align-items: center;
        label {
            font-size: 12px;
            font-weight: 500;
            color: #9B9B9B;
            margin-right: 8px;
        }
        &__inner {
            position: relative;
            img {
                position: absolute;
                top: 5px;
                right: 7px;
                z-index: -1;
            }
            input {
                padding: 6px 11px;
                width: 258px;
                border: 1px solid #E3E8EC;
                border-radius: 7px;
                background: transparent;
                font-size: 11px;
                font-weight: 400;
                color: #9B9B9B;
                &::placeholder {
                    font-size: 11px;
                    font-weight: 400;
                    color: #E3E3E3;
                }
            }
        }
    }
    &-buttons {
        width: 100%;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__left {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 70%;
        }
        &__right {
            width: 16%;
        }
        &__inner {
            position: relative;
            width: 18%;
            span {
                position: absolute;
                top: -7px;
                right: -5px;
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #9B9B9B;
                border-radius: 50%;
                font-size: 10px;
                line-height: 8px;
                color: #fff;
                font-weight: 500;
            }
        }
        &__btn {
            width: 100%;
            background: #EDF0F4;
            border: 1px solid #EDF0F4;
            box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
            border-radius: 7px;
            padding: 6px 10px 5px;
            font-size: 10px;
            font-weight: 500;
            cursor: pointer;
            &.red {
                background: #FF0009;
                color: #fff;
                border-color: transparent;
            }
        }
    }
    &-table {
        width: 100%;
        font-size: 12px;
        font-weight: 400;
        border-collapse: collapse;
        text-align: center;
        &__wrapper {
            height: 468px;
            overflow-y: scroll;
        }
        tr {
            border-bottom: 1px solid #E3E8EC;
        }
        thead tr th {
            padding: 14px 5px;
            color: #7E8084;
            font-weight: 400;
            font-size: 11px;
        }
        tbody tr {
            transition: 0.4s;
            &:hover {
                background: #EDF0F4;
            }
        }
        tbody tr td {
            padding: 10px 5px;
            color: #18243C;
        }
        &__etap {
            color: #000;
            font-size: 10px;
            margin-bottom: 10px;
            font-weight: 600;
        }
        &__btn {
            background: #92D6AF;
            border: 1px solid #EDF0F4;
            box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
            border-radius: 7px;
            width: 90px;
            padding: 5px;
            cursor: pointer;
            font-size: 10px;
            color: #000;
            &_pink {
                background: #FFBFBF;
            }
        }
        &__title {
            font-size: 10px;
            color: #7E8084;
            font-weight: 500;
            margin-bottom: 3px;
        }
        &__sum {
            font-size: 10px;
            color: #000;
            font-weight: 500;
            margin-bottom: 3px;
        }
    }
}

// Navbar
.nav {
    width: 100%;
    background: #EDF0F4;
    border-radius: 0px 0px 20px 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 11px 25px 12px;
    justify-content: space-between;
    align-items: center;
    &-user,
    &-elem {
        display: flex;
        align-items: center;
    }
    &-user {
        margin-right: 20px;
        img {
            margin-right: 8px;
        }
        p {
            font-size: 12px;
            color: #18243C;
            font-weight: 500;
        }
    }
}

// Login
.login-wrapper {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F5F5;
    overflow: hidden;
    z-index: 2;
}

.login-top__img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.login-bottom__img {
    position: absolute;
    bottom: -180px;
    left: 0;
    width: 100%;
    z-index: -1;
}

.login {
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 5;
    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    &-left {
        max-width: 495px;
        width: 100%;
        margin-top: 100px;
        &__logo {
            display: block;
            margin-bottom: 60px;
        }
        &__subtitle {
            font-size: 24px;
            font-weight: 400;
        }
    }
    &-right {
        max-width: 480px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.70);
        border-radius: 7px;
        min-height: 557px;
        padding-top: 126px;
        text-align: center;
        &__title {
            font-size: 30px;
            color: #5B5B5A;
            font-weight: 400;
            margin-bottom: 34px;
        }
    }
    &-form {
        max-width: 236px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        .text-danger {
            display: block;
            color: red;
            font-size: 10px;
        }
        &__wrapper {
            position: relative;
            width: 100%;
            &:not(:last-child) {
                margin-bottom: 12px;
            }
            &.invalid .login-form__input {
                box-shadow: 0px 0px 12px 3px rgba(255, 0, 0, 0.25);
            }
            small {
                font-size: 10px;
                color: red;
            }
        }
        &__icon {
            position: absolute;
            top: 9px;
            left: 13px;
        }
        &__input {
            width: 100%;
            padding: 11px 13px 13px 37px;
            border: 1px solid #989898;
            border-radius: 7px;
            font-size: 14px;
            transition: 0.3s;
            &:focus {
                box-shadow: 0px 0px 12px 3px rgba(255, 0, 0, 0.25);
            }
            &::placeholder {
                color: #CECECF;
            }
        }
        &__label {
            position: relative;
            margin-bottom: 12px;
            z-index: 5;
            cursor: pointer;
            &_checkbox {
                margin: 5px 0px 16px 35px;
                font-size: 13px;
                font-weight: 400;
                color: #5B5B5A;
                display: flex;
                align-items: center;
                position: relative;
                align-self: flex-start;
                cursor: pointer;
            }
        }
        &__checkbox {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
            &:checked~.login-form__chekmark {
                background: #161c2c;
            }
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        &__chekmark {
            border-radius: 7px;
            width: 17px;
            height: 17px;
            border: 1px solid #989898;
            background: #fff;
            box-shadow: 0 0 0 2px rgba(255, 255, 255, 1) inset;
            transition: 0.3s;
            position: absolute;
            top: 0;
            left: -30px;
            overflow: hidden;
        }
        &__btn {
            width: 100%;
            border: none;
            padding: 11px 20px 12px;
            background-color: #000;
            color: #fff;
            border-radius: 7px;
            cursor: pointer;
            font-size: 14px;
            transition: 0.3s;
            margin-bottom: 16px;
            &:hover {
                background-color: #333;
            }
        }
        &__repass {
            color: #5B5B5A;
            font-size: 13px;
            align-self: flex-start;
            margin-left: 10px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

// Normalize
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 ::-webkit-scrollbar {
    width: 5px
}

 ::-webkit-scrollbar-track {
    background: #f1f1f1
}

 ::-webkit-scrollbar-thumb {
    background: rgba(196, 196, 196, 0.25);
    border-radius: 5px
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a,
a:hover {
    text-decoration: none;
}

a:hover {
    color: inherit;
}

input,
button,
textarea,
select {
    outline: none !important;
    font-family: "Roboto";
}

body {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    color: #000;
    background-color: #F8F5F5;
    min-height: 100vh;
    position: relative;
}

img {
    display: block;
}

.login-container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

// Stages
.stages {
    padding-top: 25px;
    padding-left: 80px;
    max-width: 753px;
    width: 100%;
    &-title {
        width: 100%;
        background: #FF0009;
        text-align: center;
        padding: 8px 15px 6px;
        font-size: 14px;
        line-height: 16px;
        color: #fff;
        font-weight: 500;
        border-radius: 7px;
        margin-bottom: 27px;
    }
    &-blog {
        &__item {
            display: flex;
            width: 100%;
            &:last-child .stages-blog__arrow::after {
                display: none;
            }
        }
        &__arrow {
            margin-right: 25px;
            position: relative;
            &::after {
                content: '';
                display: block;
                position: absolute;
                bottom: -1px;
                left: 50%;
                transform: translateX(-50%);
                width: 1px;
                height: 43px;
                background: transparent;
            }
        }
        &__content {
            padding: 11px 17px 8px;
            border: 1.5px solid transparent;
            width: 100%;
            border-radius: 7px;
            font-size: 11px;
            font-weight: 500;
            color: #18243C;
            line-height: 12px;
            margin-bottom: 20px;
            &_title {
                margin-bottom: 8px;
            }
            &_text {
                span {
                    color: #737373;
                    &:not(:first-child) {
                        margin-left: 15px;
                    }
                }
            }
            &_end {
                display: flex;
                justify-content: center;
                padding: 10px 20px;
            }
        }
    }
}

.stages-green {
    .stages-blog__content {
        background: #92D6AF;
        border-color: #27AE60;
    }
    .stages-blog__arrow::after {
        background-color: #27AE60;
    }
}

.stages-red {
    .stages-blog__content {
        background: #FFBFBF;
        border-color: #FF0009;
    }
    .stages-blog__arrow::after {
        background-color: #FF0009;
    }
}

.stages-grey {
    .stages-blog__content {
        background: transparent;
        border-color: #7E8084;
        color: #7E8084;
    }
    .stages-blog__arrow::after {
        background-color: #7E8084;
    }
}